* {
  box-sizing: border-box;
}

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  background-color: #011526;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.neon-button {
  font-size: 2rem;
  text-decoration: none;
  color: var(--clr-neon);
  display: inline-block;
  cursor: pointer;
  border: 0.125em solid var(--clr-neon);
  padding: 0.25em 1em;
  border-radius: 10px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em var(--clr-neon), 0 0 0.5em var(--clr-neon);
  position: relative;
  margin-bottom: 50px;
}

.neon-button::before {
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
